#WelcomeBox {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: Green;
	width: 70%;
	height: 65%;
}
#ActivitiesBox {
	position: absolute;
	top: 0;
	left: 70%;
	right: 0;
	bottom: 0;
	background-color: Red;
	width: 30%;
	height: 65%;
}
#PictureBox {
	position: absolute;
	top: 65%;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: LightBlue;
	width: 45%;
	height: 35%;
}
#RegistrationBox {
	position: absolute;
	top: 65%;
	left: 45%;
	right: 0;
	bottom: 0;
	background-color: Yellow;
	width: 55%;
	height: 70%;
}
#ContactUsBox {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: DarkBlue;
	width: 45%;
	height: 35%;
}
#Credits {
	position: absolute;
	top: 135%;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: Black;
	width: 100%;
	height: 20%;
}
#HeaderText {
	text-align: center;
	font-family: 'Century Gothic', sans-serif;
	text-transform: uppercase;
	color: Black;
	font-size: 3em;
	margin: 0;
	padding-top: 20%;
}
#CreditText {
	text-align: center;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	text-transform: uppercase;
	color: White;
	font-size: 3em;
	margin: 0;
	padding-top: 3%;
}
@media only screen and (max-width: 800px) {
	#HeaderText {
		position: relative;
		font-family: 'Times New Roman', serif;
		font-size: 1em;
		padding: 0;
		margin-top: 20%;
		height: inherit;
		text-align: center;
	}
	#CreditText {
		font-family: 'Century Gothic';
		font-size: 1em;
		padding: 0;
		margin: 0;
	}
	#PictureBox {
		width: 50%;
		top: 0;
		left: 0;
		height: 50%;
	}
	#WelcomeBox {
		width: 50%;
		top: 0;
		left: 50%;
		height: 25%;
	}
	#RegistrationBox {
		width: 50%;
		top: 25%;
		left: 50%;
		height: 25%;
	}
	#ContactUsBox {
		width: 50%;
		top: 50%;
		left: 0;
		height: 25%;
	}
	#ActivitiesBox {
		width: 50%;
		top: 50%;
		left: 50%;
		height: 50%;
	}
	#Credits {
		width: 50%;
		top: 75%;
		height: 25%;
		left: 0;
	}
}	
@media only screen and (max-width: 600px) {
	#WelcomeBox{
		width: 100%;
		height: 20%;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
	}
	#ActivitiesBox{
		width: 100%;
		height: 20%;
		position: absolute;
		top: 20%;
		left: 0;
		right: 0;
	}
	#PictureBox{
		width: 100%;
		height: 20%;
		position: absolute;
		top: 40%;
		left: 0;
		right: 0;
	}
	#RegistrationBox{
		width: 100%;
		height: 20%;
		position: absolute;
		top: 60%;
		left: 0;
		right: 0;
	}
	#ContactUsBox{
		width: 100%;
		height: 20%;
		position: absolute;
		top: 80%;
		left: 0;
		right: 0;
	}
	#Credits{
		width: 100%;
		height: 20%;
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
	}
	#HeaderText {
		text-align: center;
		font-family: 'Century Gothic', sans-serif;
		text-transform: uppercase;
		color: Black;
		font-size: 1em;
		margin: 0;
		padding-top: 5%;
	}
	#CreditText {
		text-align: center;
		font-family: 'M PLUS Rounded 1c', sans-serif;
		text-transform: uppercase;
		color: White;
		font-size: 1em;
		margin: 0;
		padding-top: 3%;
	}
}
